@model Salama.Models.Type

@{
    ViewBag.Title = "حذف الشركة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>حذف الشركة</h2>

<h3>هل انت متاكد من حذف هذا الشركة ؟</h3>
<div>
    <h4>تفاصيل الشركة</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           الاسم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("العودة لقائمة الشركات", "Index")
        </div>
    }
</div>
