@model Salama.Models.Service

@{
    ViewBag.Title = "حذف الخدمة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>حذف الخدمة</h2>

<h3>هل انت متاكد انك تريد حذف هذه الخدمة ؟</h3>
<div>
    <h4>تفاصيل الخدمة</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            اسم الخدمة
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("العودة للخدمات", "Index")
        </div>
    }
</div>
