@model Salama.Models.Service

@{
    ViewBag.Title = "تفاصيل الخدمة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>تفاصيل الخدمة</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            الاسم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            عدد المبيعات
        </dt>
        <dd>
            @Model.order_Service.Count
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("العودة للخدمات", "Index")
</p>
